
{% extends 'base.html' %}

{% block content %}
<head>
    
</head>

<body >
    <main class="container py-5" class="card card-body">
        <style>
        .contenedor{
            margin-top: -5px;
            display: flex;
            background-color: rgba(255, 255, 255, 0.877);
            padding: 25px;
        }
        .text{
            padding-left: 65px;
        }
        </style>
    
        <section  style="background:rgba(239, 241, 241, 0.89);">
         <div class="contenedor">
            <left>
                <img src="/media/Tio Tesla.jpg" alt="django logo" style="width: 280px; height: 400px;" >
            </left>
        
            <div class="text">
                
                    <font face="Josefin Slab Font" size="4">
                        <h1 class="display-1 text-center" style="color:#080808">Tesla</h1>
                    
                    <p style="color:#080808">Nikola Tesla fue un inventor, ingeniero eléctrico y mecánico serbio nacionalizado estadounidense, ​​​célebre por sus contribuciones al diseño del moderno suministro de electricidad de corriente alterna.</p>
                    <p>
                    Esta figura científica maltratada por la historia fue reivindicada después por movimientos contraculturales que descubrieron todo el legado de un hombre que se opuso a lo establecido y que vivía en un mundo que no estaba preparado para sus inventos.Quiso que la electricidad fuera gratis y universal, defendió las energías alternativas, pero eso no fue tolerado por las empresas capitalistas que no querían que fuera de libre disposición», apunta María Santoyo. «Fue un hombre adelantado a su tiempo. Una figura clave injustamente olvidada.
                    </p>
                    <p>Autor: Joel Lawi</p>
                    </font>
                
            </div>
        </div>   
        
        
    
        </section>

    </main>
</body>

{% endblock %}